# dependencies
node_modules/

# next.js build output
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev.log
server.log
*.log

# env
.env
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/*.db-journal

# typescript
*.tsbuildinfo
next-env.d.ts
